$branco: #fff;
$vermelho: #f22a21;

// imagem: 1920x810 - aspect ratio = 0,42

.container {
  // max-width: 1920px;
  // margin: 0 auto;
  // object-fit: cover;
  // height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;

  .video {
    margin: 0;
    width: 100%;
    // height: 1080px;
    position: relative;
    margin: 0 auto;
  }

  .video-search-container {
    width: 1290px;
    height: 104px;
    position: absolute;
    // left: 50%;
    top: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    margin: 0 auto;
    // border: 1px solid red;
    background-color: #fff;

    .inputs {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 95%;
      height: 52px;
      top: 30%;
      // background-color: red;

      // select {
      //   border: 2px solid #104e99;
      //   background-color: #fff;
      //   font-family: Ubuntu;
      //   color: gray;
      //   padding-left: 25px;
      //   font-size: 14px;
      // }

      .inputWithIcon {
        width: 390px;
        height: 100%;
        border: 2px solid #104e99;
        background-color: #fff;
        font-family: Ubuntu;
        color: gray;
        // padding-left: 25px;
        display: flex;
        align-items: center;
        font-size: 14px;
        padding-left: 20px;

        input[type="search"] {
          margin-left: 15px;
          width: 100%;
          height: 100%;
          border: none;
        }

        i {
          color: #104e99;
        }
      }

      .selectWithIcon {
        height: 100%;
        display: flex;
        align-items: center;
        // width: 282px;
        border: 2px solid #104e99;
        padding-left: 15px;
        // padding-left: 15px;

        i {
          color: #104e99;
        }

        .local {
          color: gray;
          border: none;
          width: 100%;
          background-color: #fff;
          width: 282px;
          margin-left: 15px;
        }

        .area {
          width: 314px;
          color: gray;
          margin-left: 15px;
          border: none;
          background-color: #fff;
          // padding-left: 15px;
        }
      }

      // .local {
      //   height: 100%;
      //   width: 282px;
      //   background-color: red !important;
      // }

      // .area {
      //   height: 100%;
      //   width: 314px;
      //   background-color: orange !important;
      // }

      .btn-search {
        height: 100%;
        background-color: #104e99;
        color: #fff;
        border: 1px solid #104e99;
        width: 214px;
        font-family: Ubuntu, Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 500;
        font-size: 19.628px;
        line-height: 23px;
        cursor: pointer;

        &:hover {
          color: #ddd;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    height: 500px;
    // background-color: orange;
    align-items: flex-start;
    position: relative;

    // .video {
    //   height: 50%;
    //   margin-top: 0;
    // }

    .video-search-container {
      display: flex;
      align-items: row !important;
      justify-content: center !important;
      // border: 3px solid gray !important;
      width: 100% !important;
      height: 50% !important;
      position: absolute;
      top: 230px;

      .inputs {
        width: 300px !important;
        // border: 3px solid aqua;
        height: 250px !important;
        display: flex;
        flex-direction: column !important;

        .inputWithIcon {
          // background-color: red !important;
          width: 100% !important;
        }

        .selectWithIcon {
          width: 100% !important;
        }

        .btn-search {
          width: 100% !important;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .container {
    height: 600px;
    position: relative;
    align-items: flex-start;

    .video {
      height: 100%;
      object-fit: cover;
    }

    .video-search-container {
      position: absolute;
      top: 400px;
      width: 60%;
      height: 150px;
      //background-color: green;

      .inputs {
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;

        .inputWithIcon {
          // background-color: red !important;
          width: 80%;
          padding-left: 15px;
        }

        .selectWithIcon {
          width: 80%;

          .local, .area {
            width: 80%;
          }
        }

        .btn-search {
          width: 80%;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

}



@media (min-width: 1201px) and (max-width: 1440px) {
  .video-search-container {
    width: 1032px !important;
    top: 700px !important;

    .selectWithIcon {
      width: 251.2px !important;
    }

    .btn-search {
      // width: 225.6px !important;
      font-size: 18px !important;
    }
  }
}
