<header class="container">
  <!-- <div class="bg-image">

  </div> -->
  <video class="video" autoplay="autoplay" loop src="../../../../assets/carrefour_looping_v4.mp4">
    <!-- <source > -->
  </video>

  <div class="video-search-container">
    <div class="inputs">
      <div class="inputWithIcon">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input placeholder="CARGO OU PALAVRA CHAVE" class="search" type="search" name="" id="">
      </div>
      <div class="selectWithIcon">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <select class="local" name="" id="">
          <option value="" disabled selected hidden>SUA LOCALIZAÇÃO</option>
          <!-- <option>SÃO PAULO - SP </option>
          <option>CAMPINAS - SP </option>
          <option>GUARULHOS - SP </option> -->
        </select>
      </div>
      <div class="selectWithIcon">
        <i class="fa fa-id-card-o" aria-hidden="true"></i>
        <select class="area" name="" id="">
          <option value="" disabled selected hidden>ÁREA DO GRUPO</option>
          <!-- <option>CORPORATIVO</option>
          <option>VAREJO</option>
          <option>BANCO</option> -->
        </select>
      </div>
      <button class="btn-search">PESQUISAR</button>
    </div>

  </div>
</header>