.wrapper {
  display: grid;
  grid-gap: 30px;
  border: 3px solid orange;
  // grid-template-columns: repeat(3, 300px);
  // grid-template-columns: repeat(auto-fit, 300px);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  justify-items: center;
  padding: 30px;

  .c-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 251px;
    width: 300px;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    border: 1px solid red;

    &__image {
      height: 100px;
      background-color: green;
      display: flex;
      justify-content: center;
      // padding: 20px;
      text-align: center;
      align-items: center;

      &-titulo {
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      // padding: 15px;

      .description {
        width: 100%;

        .local-desc {
          padding-top: 35px;
          background-color: #fff;
          height: 90px;
          text-align: center;
          text-transform: uppercase;
          width: 100%;
        }

        .requisitos {
          display: grid;
          grid-template-columns: repeat(2, 149px);

          .desc-vaga {
            padding: 5px;
            height: 40px;
            border: 1px solid #fff;
            background-color: #D8D8D8;
            color: #868686;
            text-transform: uppercase;

            &:first-child {
              background-color: green;
              color: #fff;
            }
          }
          // grid-template-columns: repeat(auto-fit, 300px);
          // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
      }
    }
  }
}

@media  screen and (min-width: 1400px) {
  .wrapper {
    width: 80%;
  }
}


@media  screen and (min-width: 1600px) {
  .wrapper {
    width: 70%;
  }
}