<div class="wrapper">
  <article class="c-card" *ngFor="let item of oportunidades">

    <div class="c-card__image">
      <h4 class="c-card__image-titulo">{{item.title}}</h4>
    </div>

    <div class="c-card__content">
      <div class="description">

        <p class="local-desc">{{item.local}}</p>

        <div class="requisitos">
          <p class="desc-vaga">setor</p>
          <p class="desc-vaga">REMOTO</p>
          <p class="desc-vaga">contrato</p>
          <p class="desc-vaga">genero</p>
        </div>

      </div>

    </div>
  </article>
</div>