.proposito-container {
  max-width: 1920px;
  margin: 0 auto;
  height: 600px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;

  .proposito-card {
    background-color: #ddd;
    width: 1202px;
    height: 450px;
    display: flex;

    .card-left {
      width: 60%;
      // padding-top: 56%;
      background-color: #d02e26;
      height: 100%;
      // background: url("../../../../assets/ScreenShot_2021-06-03_Frame_Video-Propo╠БsitoCarrefour.png")
      // no-repeat center;
      // background-size: cover;

      img {
        max-width: 100%;
        height: 100%;
      }
    }

    .card-right {
      background-color: #d02e26;
      width: 40%;
      // font-family: Arial, Helvetica, sans-serif;
      @font-face {
        font-family: 'MyriadPro-Regular';
        src: url('../../../../assets/MyriadPro-Regular.otf');
      }
      // font-family: url('../../../../assets/MyriadPro-Regular.otf') !important;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      // text-align: justify;
      padding: 10px 25px;

      // .card-title {
      //   color: #fff;
      //   margin-top: 50px;
      //   // text-transform: uppercase;
      //   font-weight: normal;

      //   span {
      //     display: block;
      //     font-weight: bold;
      //   }
      // }

      .card-text {
        color: #fff;
        font-style: normal;
        font-weight: normal;
        font-size: 34px;
        line-height: 39px;
        // width: 273px;
        // width: 90%;
        padding: 0;
        text-transform: uppercase;
        text-align: left;
        // margin-top: 20px;
        margin: 0 auto;
        // text-align: center;
        @font-face {
          font-family: 'MyriadPro-Regular';
          src: url('../../../../assets/MyriadPro-Regular.otf');
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .proposito-container {
    display: flex;

    .proposito-card {
      width: 95%;
      display: flex;
      height: 75%;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;

      .card-left {
        width: 100% !important;
        height: 55%;
        order: 2;

        img {
          width: 100%;
        }
      }

      .card-right {
        width: 100%;
        height: 50%;
        order: 1;
        display: flex;
        // border: 2px solid white;
        justify-content: center;
        align-items: center;
        text-align: center;

        .card-title {
          font-size: 22px;
        }

        .card-text {
          width: 90%;
          font-size: 18px;
          line-height: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .proposito-card {
    width: 90% !important;

    .card-left {
      order: 1;
      // height: 75%;
      // padding-top: 56% !important;
      width: 75% !important;
    }

    .card-right {
      order: 2 !important;
      display: flex;

      .card-title {
        font-size: 20px !important;
      }

      .card-text {
        font-size: 17px !important;
        text-align: left;
        width: 90% !important;
        padding: 0 10px !important;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .proposito-card {
    // width: 80% !important;
  }

  .card-title {
    font-size: 39px !important;

    span {
      font-size: 42px;
    }
  }

  .card-text {
    padding: 5px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .proposito-card {
    width: 65% !important;
    // border: 5px solid aqua !important;

    .card-right {
      width: 40% !important;

      .card-title {
        width: 100%;
        text-align: center;

        span {
          margin-left: 35px;
        }
      }

      .card-text {
        margin-top: 30px !important;
        width: 90% !important;
      }
    }

    .card-left {
      width: 70% !important;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .proposito-card {
    width: 1200px !important;

    .card-right {
      width: 400px !important;
    }

    .card-left {
      width: 800px !important;
    }
  }
}

.dsc-carousel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  // &::before {
  //   content: '';
  //   height: 100%;
  //   width: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   // background: rgba(0, 0, 0, 0.193);
  // }

  &__content {
    text-align: center;
    width: 100%;
    align-self: stretch;
    display: flex;
    overflow: hidden;

    &-item {
      float: left;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // background: linear-gradient(0deg, #104E99 0%, #FFFFFF 100%);

      min-width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: 0.3s ease;
      // transition: 1s all ease-in;

      // font-family: Ubuntu, Arial, Helvetica, sans-serif;

      & .btn-video {
        background-color: transparent;
        border: none;
        color: #fff;
      }

      h1 {
        color: white;
        font-weight: 900;
        font-size: 22px;
        text-transform: capitalize;
        z-index: 1;
      }

      p {
        z-index: 1;
        color: white;
        font-weight: 500;
        font-size: 18px;
        font-style: italic;
        text-transform: capitalize;
      }
    }
  }

  &__btns {
    position: absolute;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    > i {
      // opacity: 0.7;
      color: #fff;
      font-size: 45px;
      cursor: pointer;
      justify-content: space-between;
    }
  }

  &__steps {
    position: absolute;
    bottom: -25px;
    width: 50%;
    display: flex;
    justify-content: center;
    &-step {
      height: 10px;
      width: 10px;
      margin: 0 5px;
      border-radius: 50%;
      border: 1px solid #9e9e9e;
      cursor: pointer;
      transition: 0.75 all ease-in-out;
      &:hover,
      &-active {
        opacity: 0.9;
        background: #9e9e9e;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .dsc-carousel {
    // width: 40vw;
    // display: flex;
    // justify-content: center;
    // align-content: center;
    margin: 0 auto;

    // &__content {

    //   &-item {
    //     display: flex;
    //     flex-direction: column;
    //     height: 450px !important;
    //   }
    // }
  }
}
