.diversidade-container {
  // width: 100vw;
  max-width: 1920px;
  // max-height: 664px;
  // border: 5px solid red;
  background-color: #e6e7e8;

  display: flex;
  justify-content: center;
  align-items: center;

  .diversidade-card {
    background-color: #203E6D;
    width: 65%;
    min-height: 560px;
    display: flex;
    // flex-direction: row;

    .card-left {
      width: 55%;
      // height: 100%;
      // background-color: orange;

      img {
        max-width: 100%;
        // width: 100%;
        object-fit: cover;
        // height: 100%;
      }
    }

    .card-right {
      // display: flex;
      // background-color: aqua;
      font-family: Ubuntu, Arial, Helvetica, sans-serif;
      width: 45%;
      // padding: 60px;
      // border: 3px solid yellow;
      font-style: normal;
      font-weight: normal;

      h1 {
        font-size: 42px;
        line-height: 48px;

        color: #00aeef;
      }

      p {
        font-size: 22.5px;
        line-height: 26px;
        color: #fff;
        margin-top: 20px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .diversidade-container {
    height: 100%;

    .diversidade-card {
      width: 100%;
      // height: 100%;
      flex-direction: column-reverse;

      .card-right {
        width: 100%;
        padding: 20px;

        .card-title {
          font-size: 24px;
        }

        .card-text {
          font-size: 18px;
          margin-top: 10px;
        }
      }

      .card-left {
        width: 100%;
        // margin-bottom: 250px;

        img {
          // margin-bottom: 0;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .diversidade-container {
    display: flex;

    .diversidade-card {
      width: 100%;
      flex-direction: column-reverse;

      .card-right {
        // border: 2px solid fuchsia;
        padding: 30px;
        width: 100%;
      }

      .card-left {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1201px) {
  .diversidade-container {
    height: 700px;

    .diversidade-card {
      width: 1205px;
      display: flex;
      justify-content: center;
      align-items: center;

      .card-left {
        height: 560px !important;

        img {
          height: 560px !important;
        }
      }

      .card-right {
        padding: 50px;
      }
    }
  }
}

.dsc-carousel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  // &::before {
  //   content: '';
  //   height: 100%;
  //   width: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   // background: rgba(0, 0, 0, 0.193);
  // }

  &__content {
    text-align: center;
    width: 100%;
    align-self: stretch;
    display: flex;
    overflow: hidden;

    &-item {
      float: left;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // background: linear-gradient(0deg, #104E99 0%, #FFFFFF 100%);

      min-width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: 1s all ease-in;

      font-family: Ubuntu, Arial, Helvetica, sans-serif;

      & .btn-video {
        background-color: transparent;
        border: none;
        color: #fff;
      }

      h1 {
        color: white;
        font-weight: 900;
        font-size: 22px;
        text-transform: capitalize;
        z-index: 1;
      }

      p {
        z-index: 1;
        color: white;
        font-weight: 500;
        font-size: 18px;
        font-style: italic;
        text-transform: capitalize;
      }
    }
  }


  &__btns {
    position: absolute;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    > i {
      // opacity: 0.7;
      color: #fff;
      font-size: 45px;
      cursor: pointer;
      justify-content: space-between;
    }
  }

  &__steps {
    position: absolute;
    bottom: -25px;
    width: 50%;
    display: flex;
    justify-content: center;
    &-step {
      height: 10px;
      width: 10px;
      margin: 0 5px;
      border-radius: 50%;
      border: 1px solid #9E9E9E;
      cursor: pointer;
      transition: 0.75 all ease-in-out;
      &:hover, &-active {
        opacity: 0.9;
        background: #9E9E9E;
      }
    }
  }

}

@media screen and (min-width: 1024px) {
  .dsc-carousel {
    // width: 40vw;
    // display: flex;
    // justify-content: center;
    // align-content: center;
    margin: 0 auto;

    // &__content {

    //   &-item {
    //     display: flex;
    //     flex-direction: column;
    //     height: 450px !important;
    //   }
    // }
  }
}
