<!-- <div class="diversidade-container">
  <div class="diversidade-card">
    <div class="card-left">
      <img src="../../../../assets/corporativo-1.png" alt="">
       <img src="" alt="">
    </div>
    <div class="card-right">
      <h1 class="card-title">DIVERSIDADE</h1>
      <p class="card-text">Claro que a gente busca os melhores talentos e sabemos que para ajudar o mundo a se
        alimentar melhor, é necessário entender e acolher as pluralidades da nossa sociedade. Por isso, acreditamos que
        a diversidade do Brasil precisa estar representada em todos os níveis de todos negócios, e deve influenciar
        todas as nossas tomadas de decisão. E não é só isso, pra gente avançar de fato com oportunidades para todas e
        todos, sabemos que é preciso oferecer as ferramentas necessárias para que as pessoas se desenvolvam e cresçam
        aqui.</p>
    </div>
  </div>
</div> -->


<div class="diversidade-container">
  <div class="diversidade-card">


    <div class="card-left">


      <div class="dsc-carousel" [ngStyle]="{'min-height' : finalHeight}">
        <!-- <div class="dsc-carousel__btns">
          <i class="fa fa-angle-left" aria-hidden="true" (click)="setBack()"></i>
          <i class="fa fa-angle-right" (click)="setNext()"></i>
        </div> -->
        <div class="dsc-carousel__content">
          <ng-container *ngFor="let section of items;">
            <div class="dsc-carousel__content-item"
              [ngStyle]="{'background-image': 'url('+ section.image+')', 'margin-left': section.marginLeft + '%'}">
              <!-- <button class="btn-video">
                <i class="fa fa-play-circle-o fa-5x" aria-hidden="true"></i>
              </button> -->
              <!-- <h1> {{section.title}}</h1>
              <p>{{section.cargo}}</p> -->
            </div>
          </ng-container>
        </div>
        <!-- <div class="dsc-carousel__steps">
          <div class="dsc-carousel__steps-step
          dsc-carousel__steps-step-{{currentPosition === item.id ? 'active': ''}}" *ngFor="let item of items"
            (click)="setCurrentPosition(item.id)">

          </div>
        </div> -->
      </div>

    </div>



    <div class="card-right">
      <h1 class="card-title">DIVERSIDADE</h1>
      <p class="card-text">Claro que a gente busca os melhores talentos e sabemos que para ajudar o mundo a se
        alimentar melhor, é necessário entender e acolher as pluralidades da nossa sociedade. Por isso, acreditamos que
        a diversidade do Brasil precisa estar representada em todos os níveis de todos negócios, e deve influenciar
        todas as nossas tomadas de decisão. E não é só isso, pra gente avançar de fato com oportunidades para todas e
        todos, sabemos que é preciso oferecer as ferramentas necessárias para que as pessoas se desenvolvam e cresçam
        aqui.</p>
    </div>
  </div>
</div>