<!-- <div class="setores-card">
  <article class="s-card">
    <div class="s-card__image">
      <img src="" alt="">
    </div>
  </article>
</div> -->

<div class="setores">
  <div class="ecossistema">
    <div class="ecossistema--text">
      <span class="ecossistema--text-title">Um <span class="ecossistema--text-title-bold">ecossistema de
          oportunidades</span>
        pra
        você</span>
      <p class="ecossistema--text-text">Imagina um lugar onde quase 100 mil pessoas trabalham todos os dias
        para dar acesso a uma alimentação de qualidade às famílias brasileiras. </p><br>
      <p class="ecossistema--text-text">Pois este é o Grupo Carrefour Brasil.
        Aqui, a gente tem um mundo — na verdade, um ecossistema — de aprendizado onde tudo acontece na velocidade do
        varejo. Se você quer conhecer diversos
        negócios e formatos, e ainda participar da construção de uma empresa mais inovadora e digitalizada e de um
        ambiente de respeito, onde as pessoas são acolhidas e se sentem à vontade para serem quem são, seu lugar é aqui.
      </p> <br>
      <p class="ecossistema--text-text">Vem com a gente!</p>
    </div>

  </div>
  <div class="container">
    <div class="cards">
      <div class="left">
        <article class="card-setor">
          <a routerLink="/corporativo">
            <img src="../../../../assets/carrefour_varejo.png" alt="">
          </a>
        </article>

        <article class="card-setor">
          <a routerLink="/corporativo">
            <img src="../../../../assets/atacadao.png" alt="">
          </a>
        </article>

        <article class="card-setor">
          <a routerLink="/corporativo">
            <img src="../../../../assets/logistica.png" alt="">
          </a>
        </article>
      </div>

      <div class="center">
        <article class="card-setor">
          <a routerLink="/corporativo">
            <img src="../../../../assets/areas_corporativas.png" alt="">
          </a>
        </article>
      </div>

      <div class="right">
        <article class="card-setor">
          <a routerLink="/corporativo">
            <img src="../../../../assets/property.png" alt="">
          </a>
        </article>

        <article class="card-setor">
          <a routerLink="/corporativo">
            <img src="../../../../assets/banco_carrefour.png" alt="">
          </a>
        </article>

        <article class="card-setor">
          <a routerLink="/corporativo">
            <img src="../../../../assets/tecnologia.png" alt="">
          </a>
        </article>
      </div>

    </div>
  </div>
</div>