.setores {
  height: 960px;
  width: 100%;
  background: url("../../../../assets/bg-04\ 1.jpg") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: cover;
  position: relative;

  // max-width: 1920px;

  .ecossistema {
    width: 100%;
    height: 100%;

    position: absolute;

    margin: 0 auto;

    &--text {
      width: 100%;
      max-width: 531px;
      // position: absolute;
      margin: 0 auto;
      background-color: #0e2a51;

      margin-top: 71px;

      padding: 30px 71px;
      text-align: center;

      &-title {
        font-weight: 300;
        font-size: 45px;
        color: #fff;

        &-bold {
          text-align: center;
          font-weight: 700;
        }
      }

      &-text {
        font-size: 21px;
        line-height: 21px;
        text-align: center;
        color: #8cdaf7;

        margin-top: 10px;
      }
    }
  }
  .container {
    position: absolute;

    width: 100%;

    margin-top: 25px;

    .cards {
      display: flex;
      justify-content: center;

      margin-right: 1px;

      width: 99.99%;

      & > div {
        .card-setor {
          transition: 0.3s ease;

          &:hover {
            transform: translateY(-4px);
          }

          a {
            display: block;
            img {
              max-width: 354px;
            }
          }
        }
      }

      .center {
        align-self: flex-end;
        margin-top: 630px;

        padding: 0 47px;
      }

      // .left {
      //   margin-left: 1px;
      // }

      // .right {
      //   margin-right: 1px;
      // }
    }
  }
}
