<nav>
  <ul class="menu">
    <li class="title"><a href="#">CARREIRAS</a></li>
    <li class="logo"><a href="#"><svg id="logo-svg" width="103" height="69" viewBox="0 0 103 69" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M30.4197 2.29992C30.5461 2.15222 30.7259 2.06054 30.9197 2.04492C30.984 2.04833 31.0469 2.06486 31.1046 2.0935C31.1623 2.12214 31.2135 2.16229 31.2551 2.21147C31.2967 2.26065 31.3278 2.31783 31.3465 2.37947C31.3652 2.44112 31.371 2.50593 31.3636 2.56992C31.3499 2.76967 31.2618 2.95699 31.1167 3.09492C24.5167 11.3019 19.7167 20.8949 19.7167 34.1949C19.7167 47.4949 24.5167 56.8949 31.1167 65.0949C31.2618 65.2329 31.3499 65.4202 31.3636 65.6199C31.3708 65.6839 31.3649 65.7488 31.3462 65.8104C31.3275 65.872 31.2964 65.9292 31.2548 65.9784C31.2133 66.0277 31.1621 66.0679 31.1045 66.0967C31.0469 66.1255 30.984 66.1422 30.9197 66.1459C30.7258 66.1298 30.5461 66.0378 30.4197 65.8899L2.30066 38.6999C1.58635 38.1644 1.00657 37.47 0.607239 36.6715C0.207905 35.8731 0 34.9927 0 34.0999C0 33.2072 0.207905 32.3267 0.607239 31.5283C1.00657 30.7299 1.58635 30.0354 2.30066 29.4999L30.4197 2.29992Z"
            fill="white" />
          <path
            d="M52.0398 0C41.0298 0 36.7258 15.6 36.7258 34.2C36.7258 52.8 41.0258 68.2 52.0398 68.2C58.6458 68.2 64.2768 64.33 64.2958 61.15C64.294 60.785 64.2176 60.4242 64.0715 60.0898C63.9253 59.7554 63.7124 59.4543 63.4458 59.205C60.3168 56.18 59.0908 53.155 59.0788 50.489C59.0945 48.2068 59.98 46.0165 61.5547 44.3647C63.1295 42.7128 65.2749 41.7237 67.5538 41.599C73.1538 41.599 76.4588 45.999 76.4588 51.699C76.4588 57.099 74.1528 61.599 71.6518 65.199C71.5622 65.3344 71.5133 65.4927 71.5108 65.655C71.5108 65.939 71.6778 66.17 71.9268 66.17C72.0278 66.1609 72.126 66.1319 72.2158 66.0847C72.3055 66.0375 72.3851 65.9731 72.4498 65.895L100.577 38.7C101.292 38.1649 101.872 37.4706 102.272 36.6721C102.671 35.8736 102.879 34.9929 102.879 34.1C102.879 33.2071 102.671 32.3264 102.272 31.5279C101.872 30.7294 101.292 30.0351 100.577 29.5L72.4498 2.3C72.3185 2.14323 72.1305 2.04474 71.9268 2.026C71.6758 2.026 71.5138 2.26 71.5108 2.543C71.5131 2.70599 71.562 2.86492 71.6518 3.001C74.1518 6.601 76.4588 11.101 76.4588 16.501C76.4588 22.196 73.1588 26.601 67.5538 26.601C65.275 26.4768 63.1293 25.488 61.5545 23.8362C59.9797 22.1844 59.0943 19.9941 59.0788 17.712C59.0908 15.043 60.3168 12.018 63.4458 8.996C63.712 8.74644 63.9247 8.4453 64.0709 8.11092C64.217 7.77653 64.2935 7.41591 64.2958 7.051C64.2768 3.868 58.6448 0 52.0398 0Z"
            fill="white" />
        </svg>
      </a></li>
    <li class="texto">GRUPO<br> CARREFOUR<br> BRASIL</li>
    <li [hidden]="isDisplay" class="item" id="blog">
      <a href="#">BLOG</a>
    </li>
    <li class="item " [hidden]="isDisplay"><a href="#">EMPRESA</a></li>
    <li class="item" [hidden]="isDisplay"><a href="#">LOGIN</a></li>
    <li class="item button" [hidden]="isDisplay"><a href="#">CADASTRE-SE</a></li>
    <li class="toggle" (click)="toggleDisplay()"><span class="bars"></span></li>
  </ul>
</nav>