$azul-claro: #00aeef;
$azul-escuro: #0e2a51;
$branco: #ffffff;

nav {
  background-color: $azul-escuro;

  // padding: 5px 20px;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;

  ul {
    list-style: none;

    &.menu li {
      font-size: 16px;
      padding: 15px 5px;

      &.item {
        width: 100%;
        text-align: center;
        order: 3;
        // display: none;

        &.active {
          display: block;
        }

        // &.button {
        //   // order: 2;
        // }
      }

      // &.logo {
      //   // background-color: aqua;
      //   // display: flex;
      //   // align-items: center;
      //   // justify-content: center;

      //   // #logo-svg {
      //   //   width: 70px;
      //   // }
      // }

      &.toggle {
        cursor: pointer;
        order: 1;

        .bars {
          background: $branco;
          display: inline-block;
          height: 2px;
          position: relative;
          width: 18px;

          &:before {
            top: 5px;
          }

          &:after {
            top: -5px;
          }

          &:before,
          &:after {
            content: "";
            background: $branco;
            display: inline-block;
            height: 2px;
            position: absolute;
            width: 18px;
          }
        }
      }

      a {
        color: $branco;
        text-decoration: none;
        // display: block;
      }
    }
  }

  /* MOBILE MENU */
  .menu {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 419px) {
  nav {
    .menu {
      display: flex;
      justify-content: space-between;

      #logo-svg {
        width: 70px;
      }

      .texto {
        color: $branco;
      }
    }
  }
}

@media screen and (min-width: 420px) and (max-width: 833px) {
  nav {
    background-color: $azul-escuro;
  }

  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      &.title {
        a {
          color: $branco;
          font-size: 25px;

          &:hover {
            text-decoration: none !important;
          }
        }
      }

      &.logo {
        #logo-svg {
          width: 85px !important;
        }
      }

      &.texto {
        color: $branco;
      }

      &.item {
        // display: block !important;
        & a:hover {
          text-decoration: none !important;
          color: #ddd;
        }

        &.button {
          width: auto;
          // order: 1;
          // display: block !important;

          a {
            padding: 7px 15px;
          }
        }
      }

      &.toggle {
        order: 2;
      }
    }
  }
}

@media screen and (min-width: 834px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    .menu {
      flex-wrap: nowrap;
      background-color: $azul-escuro;
      width: 100%;
      height: 150px;

      li {
        display: flex;
        // justify-content: center;
        align-items: center;

        &.texto {
          // display: flex;
          // justify-content: center;
          // align-items: center;
          height: 100%;
          font-size: 18px;
          margin-left: 5px;
          color: $branco;
        }
      }

      .title {
        background-color: $azul-claro;
        font-size: 24px;
        height: 150px;
        padding-left: 100px;

        a {
          color: $azul-escuro;
          margin-right: 45px;
        }
      }

      .logo {
        margin-left: 15px;
        width: 100px;

        #logo-svg {
          width: 90px;
          height: 100%;
        }
      }

      .item {
        font-size: 12px;
        height: 150px;
        float: right;
        display: flex;
        align-items: center;
        width: 60px !important;
        justify-content: center;

        &.button {
          width: 90px !important;
        }

        a {
          &:hover {
            text-decoration: none;
            color: #ddd;
          }
        }
      }

      .toggle {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  nav {
    background-color: red;

    .menu {
      background-color: $azul-escuro;

      .logo {
        height: 150px;
        width: 103px;

        #logo-svg {
          width: 100%;
        }
      }

      .texto {
        font-size: 22px;
      }

      .item {
        width: 80px !important;
        height: 46px;
        font-size: 16px;

        &#blog {
          width: 150px;
          margin-left: 40px;
        }

        &.button {
          width: 150px !important;
          border: 1px solid $branco;
          margin-left: 25px;

          &:hover {
            transition: all 0.35s;
            background-color: $branco;
            a {
              color: $azul-escuro;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .menu {
    .title {
      background-color: orange;
      font-size: 39px !important;
    }

    .texto {
      font-size: 25px !important;
      margin-left: 30px !important;
    }
  }
}

@media screen and (min-width: 1920px) {
  nav {
    // max-width: 1920px;

    .menu {
      .title {
        padding-left: 375px;
      }

      .logo {
        margin-left: 20px;
        #logo-svg {
          width: 103px;
        }
      }

      .texto {
        font-size: 34px !important;
      }

      .item {
        font-weight: 500;
        font-size: 18px;

        &#blog {
          margin-left: 130px;
        }

        &.button {
          margin-left: 60px;
          height: 50px;
          width: 180px !important;
          border-color: #ddd;
        }
      }
    }
  }
}
