.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fff;
  max-height: 980px;
  overflow-y: hidden !important;
  margin-top: 40px;

  .footer-links {
    background-color: #203e6d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 700px;
    flex-wrap: wrap;
    // width: 100vw;

    .wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .item {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: flex-start;
        width: 250px;
        // border: 1px solid yellow;
        margin: 10px;

        &.redes {
          li {
            display: inline-flex;
            border: 1px solid #fff;
            padding: 5px;
            width: 35px;
            margin: 5px;
            a {
              color: #fff;
              width: 100%;

              i {
                width: 100%;
                text-align: center;
              }
            }
          }
        }

        .links-title {
          font-family: Ubuntu;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 28px;
          // border: 1px solid red;
          margin-bottom: 15px;
          text-align: left;
          color: #fff;
        }

        ul {
          list-style: none;

          .link-item {
            color: #fff;
            font-family: Ubuntu;
            font-style: normal;
            font-weight: normal;
            font-size: 21px;
            line-height: 24px;
            text-transform: uppercase;
            text-decoration: none;
            margin-top: 25px;
          }
        }
      }
    }
  }

  .footer-grupo {
    background-color: #d02e26;
    height: 180px;
    // width: 100vw;

    display: flex;
    align-items: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    .logo {
      margin-left: 150px;
      margin-right: 20px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .footer-links {
    // background-color: orange !important;
    max-height: 400px !important;

    .item {
      align-items: center !important;
      height: 120px !important;
      width: 150px !important;

      &.redes {
        width: 250px !important;
      }

      .links-title {
        font-size: 15px !important;
        width: 150px;
        text-align: center !important;
      }

      .link-item {
        font-size: 12px !important;
      }
    }
  }

  .footer-grupo {
    // width: 300px !important;
    display: flex;
    flex-direction: row;
    // align-items: center;
    height: 60px !important;
    justify-content: center;

    .logo {
      // width: 55px !important;
      // height: 55px !important;
      // border: 3px solid fuchsia;
      display: flex;
      align-items: center;
      height: 40px !important;
      justify-content: center !important;
      margin: 15px !important;

      #logo-svg {
        width: 100%;
        height: 100%;
      }
    }

    h1 {
      font-size: 12px;
      // border: 3px solid aqua;
    }
  }
}

@media screen and (min-width: 340px) and (max-width: 599px) {
  .footer-links {
    height: 280px !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .footer-links {
    height: 200px !important;

    .item {
      width: 150px !important;
      height: 150px !important;

      .links-title {
        font-size: 15px !important;
      }

      .link-item {
        font-size: 15px !important;
      }
    }
  }

  .footer-grupo {
    height: 100px !important;
    display: flex;
    justify-content: flex-start !important;

    h1 {
      font-size: 18px !important;
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  .logo {
    // margin-left: 250px !important;
  }
}

@media screen and(min-width: 1024px) and (max-width: 1439px) {
  .footer-links {
    height: 300px !important;
    .wrapper {
      display: flex;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      width: 70% !important;
    }

    .item {
      display: flex;
      width: 30% !important;
      justify-content: flex-start !important;
      align-items: flex-start !important;
    }
  }

  #logo-svg {
    margin-left: 35px !important;
  }
}

@media screen and(min-width: 1440px) {
  .footer-links {
    height: 316px !important;
    justify-content: flex-start !important;
  }

  .wrapper {
    height: 172px !important;
    margin-left: 250px !important;
    width: 70% !important;
    justify-content: flex-start !important;

    .item {
      width: 300px !important;
      margin: 0 15px !important;
    }

    li {
      margin-top: 15px !important;
    }
  }

  #logo-svg {
    margin-left: 80px !important;
    margin-right: inherit;
  }
}

// @media (max-width: 1400px) {
//   .footer {
//     margin-top: 120px;
//   }
// }
