.oportunidades {
  // width: 100vw;
  background-color: #e5e5e5;
  // height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  overflow: hidden;

  .box {
    height: 650px;
    width: 60%;
    border: 1px solid #9e9e9e;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .texto {
      position: absolute;
      top: -20px;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      background: #e5e5e5;
      color: #203e6d;
      font-size: 30px;
      width: 80%;
      font-family: Ubuntu, Arial, Helvetica, sans-serif;
    }

    .btn-box {
      width: 284.9px;
      height: 41.29px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: -20px;
      // top: 630px;
      // left: 430px;

      font-family: Ubuntu;
      font-style: normal;
      font-weight: 500;
      font-size: 21.298px;
      line-height: 24px;

      color: #ffffff;
      border: none;

      &:hover {
        transform: translateY(-2px);
        cursor: pointer;
        color: #ddd;
      }
    }
  }

  .wrapper {
    position: relative;
    display: grid;
    grid-gap: 30px;
    width: 80%;
    // border: 3px solid orange;
    // grid-template-columns: repeat(3, 300px);
    // grid-template-columns: repeat(auto-fit, 300px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    justify-items: center;
    // padding: 30px;
    // margin: 15px;

    .c-card {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      height: 251px;
      width: 100%;
      max-width: 382px;
      font-family: Ubuntu, Arial, Helvetica, sans-serif;
      position: relative;

      &__image {
        height: 100px;
        background-color: green;
        display: flex;
        justify-content: center;
        // padding: 20px;
        text-align: center;
        align-items: center;

        &--icon {
          display: flex;
          flex-direction: column;

          position: absolute;

          left: -28px;
          top: 8px;

          .spike {
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;

            // border-top: 20px solid #9ba8bd;
            margin-top: -3px;
            margin-left: 2px;

            transform: rotateZ(-135deg);
          }
        }

        &-titulo {
          color: #fff;
          text-transform: uppercase;
          font-size: 20px;

          margin-left: 57px;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: flex-start;
        // padding: 15px;

        .description {
          width: 100%;

          .local-desc {
            padding-top: 35px;
            background-color: #fff;
            height: 90px;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            color: #9e9e9e !important;
          }

          .requisitos {
            display: grid;
            grid-template-columns: repeat(2, auto);

            .desc-vaga {
              height: 22px;
              border: 1px solid #fff;
              background-color: #d8d8d8;
              color: #868686;
              text-transform: uppercase;

              text-align: center;
              font-family: Ubuntu;
              font-style: normal;
              font-weight: 500;
              font-size: 15.376px;
              line-height: 18px;

              &:first-child {
                background-color: green;
                color: #fff;
              }

              &:nth-child(2n) {
                border-right: none;
              }
            }
          }
        }

        .btn-oportunidade {
          // border: 1px solid green;
          background-color: green;
          color: white;
          font-weight: bolder;
          height: 25px;
          font-family: Ubuntu, Arial, Helvetica, sans-serif;
          margin-top: 15px;
          text-transform: uppercase;
        }
      }
    }
  }
}

// @media screen and (min-width: 320px) and (max-width: 1200px) {
//   .box {
//     display: none;
//   }
// }

@media screen and (min-width: 320px) and (max-width: 599px) {
  .c-card {
    height: 150px !important;
    // background-color: orange !important;

    &__image {
      height: 40px !important;

      &-titulo {
        font-size: 14px !important;
      }
    }

    &__content {
      height: 350px !important;

      .description {
        .local-desc {
          padding-top: 15px !important;
          height: 40px !important;
        }

        .desc-vaga {
          font-size: 12px !important;
          padding-left: 5px;
        }
      }

      .btn-oportunidade {
        margin-top: 0 !important;
      }
    }
  }
}


@media screen and (min-width: 1500px) {
  .oportunidades {
    min-height: 870px;

    .texto {
      font-size: 45px !important;
    }

    .wrapper {
      grid-template-columns: repeat(3, 480px) !important;
    }
  }
}

.videos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 600px;
  align-items: center;

  margin-top: 100px;

  .grade {
    width: 850px;
    height: 440px;
    border: 1px solid #9e9e9e;
    position: relative;
  }

  &-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // margin-bottom: 150px;

    h1 {
    color: #203e6d;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 45px;
    background-color: #fff;
    width: 96%;
    // margin-bottom: 20px;
    text-align: center;

    span {
      font-weight: 900;
    }
  }
  }

  // @media screen and (min-width: 320px) and (max-width: 600px) {
  //   margin-bottom: 60px;

  //   h1 {
  //     font-size: 18px;
  //   }
  // }

  // @media screen and (min-width: 768px) {
  //   margin-bottom: 60px;
  // }
}

.blue {
  background-color: #203e6d !important;
  border: 1px solid #203e6d;
}

.green {
  background-color: #00a952 !important;
  border: 1px solid #00a952;
}

.lightblue {
  background-color: #00aeef !important;
  border: 1px solid #00aeef;
}
.orange {
  background-color: #f58443 !important;
  border: 1px solid #f58443;
}

.spike-blue {
  border-top: 20px solid #9ba8bd;
}

.spike-green {
  border-top: 20px solid #8cd8b1;
}

.spike-lightblue {
  border-top: 20px solid #8cdbf8;
}

.spike-orange {
  border-top: 20px solid #fac8aa;
}

@media (max-width: 1499px) {
  .oportunidades {
    margin-top: 100px;

    padding-bottom: 120px;
  }

  .box {
    margin-top: 127px;
  }

  .wrapper {
    margin-top: 120px;
  }
}


@media screen and (min-width: 2500px) {
  .wrapper {
    grid-template-columns: repeat(3, 600px) !important;
  }
}

