<app-navbar></app-navbar>
<app-header></app-header>

<app-proposito [items]="propositoData"></app-proposito>

<app-setores></app-setores>

<div class="videos">
  <div class="grade"></div>
  <div class="videos-content">
    <h1>Vem ouvir a <span>NOSSA GENTE</span></h1>
    <app-nossa-gente [items]="carouselData"></app-nossa-gente>
  </div>
</div>

<div class="oportunidades">
  <div class="box">
    <h1 class="texto">CONHEÇA NOSSAS OPORTUNIDADES</h1>
    <button class="btn-box" [ngStyle]="{'backgroundColor': '#7A1757'}">MAIS OPORTUNIDADES</button>
  </div>
  <div class="wrapper">
    <article class="c-card" *ngFor="let item of oportunidades">

      <div class="c-card__image" [class]="item.color">
        <div class="c-card__image--icon">
          <img [src]="item.icon" alt="icone">
          <div class="spike" [class]="item.spikeColor"></div>
        </div>
        <h4 class="c-card__image-titulo">{{item.title}}</h4>
      </div>

      <div class="c-card__content">
        <div class="description">

          <p class="local-desc">{{item.local}}</p>

          <div class="requisitos">
            <p class="desc-vaga" [class]="item.color">{{item.setor}}</p>
            <p class="desc-vaga">{{item.tipo}}</p>
            <p class="desc-vaga">{{item.contrato}}</p>
            <p class="desc-vaga">{{item.genero}}</p>
          </div>

        </div>
        <button class="btn-oportunidade" [class]="item.color">Saiba mais sobre essa oportunidade</button>

      </div>
    </article>
  </div>
</div>

<app-footer></app-footer>