<section class="setor">
  <div class="setor-area">
   <div class="setor-area-card">
    <div class="icone">
      <img src="../../../../assets/Maletinha-07.svg" alt="Imagem do centro corporativo do grupo Carrefour">
    </div>
    <h1>ÁREAS <br>CORPORATIVAS</h1>
    <p>Quer apoiar as quase 100 mil pessoas que trabalham aqui e vivem o nosso propósito todos os dias? Então vem pras nossas áreas de backoffice, porque são elas que dão suporte às nossas mais de 700 unidades para que funcionem a todo o vapor pelo país. Aqui tem um mundo de atividades que ajudam a colocar em pé a nossa operação.</p>
   </div>
  </div>
  <div class="setor-boxImagem">
    <img src="../../../../assets/008_Matriz_waltercraveiro.jpg" alt="Imagem do centro corporativo do grupo Carrefour">
    <div class="box-right"></div>
  </div>
</section>