.setor {
  // width: 100vw;
  max-width: 1920px;
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  // border: 2px solid red;
  background-color: #203E6D;
  margin-top: 100px;
  margin-bottom: 100px;

  &-area {
    width: 45%;
    // border: 2px solid green;
    align-content: flex-end;
    height: 100%;
    // background-color: orange;

    &-card {
      width: 55%;
      height: 100%;
      float: right;
      // border: 2px solid goldenrod;
      margin-right: 25px;
      font-family: Ubuntu, Arial, Helvetica, sans-serif;
      text-align: right;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: column;

      & .icone {
        background: #0e2a51;
        width: 104px;
        height: 95px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
      }

      h1 {
        font-size: 42px;
        color: #00aeef;
      }

      p {
        color: #fff;
        // text-transform: uppercase;
        margin-top: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 22.5px;
        line-height: 26px;
      }
    }
  }

  &-boxImagem {
    // border: 2px solid aqua;
    width: 55%;
    // background-color: red;
    height: 100%;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // position: absolute;
      // padding: 42%;
    }

    .box-right {
      position: absolute;
      left: 80%;
      margin-left: -120px;
      top: 0;
      // margin-top: -75px;
      background-color: #203E6D;
      opacity: .75;
      width: 50%;
      height: 100%;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .setor {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 650px;

    &-area {
      width: 100vw;

      &-card {
        width: 100vw;
        margin: 0;
        padding: 10px;

        & .icone {
          width: 50px;
          height: 50px;
          margin-top: 15px;
          margin-bottom: 0px;
        }

        h1 {
          font-size: 24px;
          margin-top: 10px;
        }

        p {
          font-size: 18px;
        }
      }
    }

    &-boxImagem {
      width: 100vw;
      height: 90%;

      .box-right {
        display: none;
      }
    }
  }
}


@media screen and (min-width: 600px) and (max-width: 1200px) {
  .setor-area-card {
    // background-color: red;
    width: 90%;

    h1 {
      font-size: 28px;
    }

    p {
      font-size: 20px;
    }
  }
}