.dsc-carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 637px;

  // &::before {
  //   content: '';
  //   height: 100%;
  //   width: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   // background: rgba(0, 0, 0, 0.193);
  // }

  &__content {
    text-align: center;
    width: 100%;
    align-self: stretch;
    display: flex;
    overflow: hidden;

    &-item {
      float: left;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // background: linear-gradient(0deg, #104E99 0%, #FFFFFF 100%);

      min-width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: 0.3s ease;
      // transition: 0.3s all ease-in;

      font-family: Ubuntu, Arial, Helvetica, sans-serif;

      & .btn-video {
        background-color: transparent;
        border: none;
        color: #fff;
      }

      h1 {
        color: white;
        font-weight: 900;
        font-size: 22px;
        text-transform: capitalize;
        z-index: 1;
      }

      p {
        z-index: 1;
        color: white;
        font-weight: 500;
        font-size: 18px;
        font-style: italic;
        text-transform: capitalize;
      }
    }
  }

  &__btns {
    position: absolute;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    > i {
      // opacity: 0.7;
      color: #fff;
      font-size: 45px;
      cursor: pointer;
      justify-content: space-between;
    }
  }

  &__steps {
    position: absolute;
    bottom: -25px;
    width: 20%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #fff;

    &-step {
      height: 10px;
      width: 10px;
      margin: 0 5px;
      border-radius: 50%;
      border: 1px solid #9e9e9e;
      cursor: pointer;
      transition: 0.75 all ease-in-out;
      &:hover,
      &-active {
        opacity: 0.9;
        background: #9e9e9e;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .dsc-carousel {
    width: 40vw;
    // display: flex;
    // justify-content: center;
    // align-content: center;
    // margin: 0 auto;
    margin: 40px;

    // &__content {

    //   &-item {
    //     display: flex;
    //     flex-direction: column;
    //     height: 450px !important;
    //   }
    // }
  }
}
