<div class="dsc-carousel" [ngStyle]="{'min-height' : finalHeight}">
  <div class="dsc-carousel__btns">
    <i class="fa fa-angle-left" aria-hidden="true" (click)="setBack()"></i>
    <i class="fa fa-angle-right" (click)="setNext()"></i>
  </div>
  <div class="dsc-carousel__content">
    <ng-container *ngFor="let section of items;">
      <div class="dsc-carousel__content-item"
        [ngStyle]="{'background-image': 'url('+ section.image+')', 'margin-left': section.marginLeft + '%'}" >
        <button class="btn-video">
          <i class="fa fa-play-circle-o fa-5x" aria-hidden="true"></i>
        </button>
        <h1> {{section.title}}</h1>
        <p>{{section.cargo}}</p>
      </div>
    </ng-container>
  </div>
  <div class="dsc-carousel__steps">
    <div class="dsc-carousel__steps-step
    dsc-carousel__steps-step-{{currentPosition === item.id ? 'active': ''}}" *ngFor="let item of items"
      (click)="setCurrentPosition(item.id)">

    </div>
  </div>
</div>